#header {
    margin: auto;
    width: 90%;
    padding-bottom: 100px;

    .con {
        display: flex;

        .left {
            margin-right: 30px;
            min-width: 260px;
            display: flex;
            flex-direction: column;
            align-items: start;

            .bar {
                cursor: pointer;
                padding: 0 16px;
                min-height: 48px;
                display: flex;
                align-items: center;
            }
        }

        .right {
            flex: 1; // Qalan sahəni kapsasın
            width: 100%; // ✅ İçindəki `Swiper` düzgün işləsin
            display: flex;
            flex-basis: 0; // ✅ Accordion açılanda right-in genişliyi dəyişməsin
            min-width: 0;
            justify-content: center;
            // align-items: center;
            overflow: hidden;
        }
    }
}