.css-jeb1wf-MuiAccordionDetails-root {
    padding: 0  16px;
}
.css-rizt0-MuiTypography-root{
    @media (max-width: 992px) {
        font-size: 12px !important;
    }
}

.css-swn2in-MuiButtonBase-root-MuiAccordionSummary-root{
    @media (max-width: 992px) {
        min-height:  38px !important;
    }
}
#acc{
    @media (max-width: 992px) {
        max-width: 160px;
    }
}